th, td {
    border: 1px;
    padding: 5px;
   
}

td {
    background-color: #424250;
    color: white;
}

.cabecalho-moda {
    background-color: #BB86FC;
    color: white;
}
.cabecalho-casa {
    background-color: #00C4B4;
    color: white;
}